@import "tailwindcss";

:root{
    --primary-color: #4663ac;
    --secondary-color: #6c757d;
}
h1{
    color: var(--primary-color);
    font-size: 2rem;
    text-transform: uppercase;
}
button{
    @apply bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}